.body{
	background-color: rgb(237,239,240);
}
.neirong>div:nth-of-type(1){
	font-size: 1.1rem;
	height: 37px;
	line-height: 37px;
	border-bottom: 1px solid rgb(225,226,228);
	color: rgb(123,124,125);

}
.neirong{
	padding: 0 3%;
	border-bottom: 1px solid rgb(225,226,228);
	background-color: white;
}
.neirong div:nth-of-type(1) span{
	float: left;
	width: 50%;
}
.neirong div:nth-of-type(1) span:nth-of-type(2){
   text-align: right;
}
.neirong>div:nth-of-type(2){
	padding: 3% 0;
}
.neirong div:nth-of-type(2) img{
	width: 50px;
}
.neirong div:nth-of-type(2)>div{
	display: inline-block;
	font-size: 1.2rem;
	margin-left: 3%;
}
.neirong div:nth-of-type(2)>div>p:nth-of-type(1){
	font-size: 1.3rem;
    color: rgb(25,26,27);
}
.neirong div:nth-of-type(2)>div>p:nth-of-type(2){
	
    color: rgb(78,79,81);
}
.neirong div:nth-of-type(2)>div>p:nth-of-type(3){
	color: red;
}
.zhifu{
	display: inline-block;
	width: 84%;
	margin-left:8%;
	height: 45px;
	font-size: 1.5rem;
	color: white;
	line-height: 45px;
	text-align: center;
	background-color: rgb(232,125,12);
	border-radius: 5px;
	margin-top: 5%;
}
.city{
	margin-left: 36%;
}
